{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<div class="card">
			<div class="card-header">
				<h2>Détail des notes</h2>
			</div>
			<div class="card-body">
				<div class="row">
					{% for type, data in ratingDetails %}
						<div class="col-md-4 text-center">
							<div class="card mb-4">
								<div class="card-body">
									<h5 class="text-capitalize">{{ type }}</h5>
									<div class="display-4">{{ data.average }}</div>
									<small>{{ data.total }}
										votes</small>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>

				<h4>Dernières notes reçues</h4>
				<div class="list-group">
					{% for rating in ratings %}
						<div class="list-group-item">
							<div class="d-flex justify-content-between">
								<div>
									{% for i in 1..5 %}
										<span class="text-warning {{ i > rating.score ? 'text-muted' }}">★</span>
									{% endfor %}
									<div class="mt-2">{{ rating.comment }}</div>
								</div>
								<small class="text-muted">
									{{ rating.createdAt|date('d/m/Y') }}<br>
									{{ rating.rater.pseudo }}
								</small>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
