{% extends 'base.html.twig' %}

{% block title %}Nouvel article - Entr'Aide 2.0
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<h1 class="mb-4">Créer un nouvel article</h1>

		{{ form_start(form) }}
		{{ form_row(form.title) }}
		{{ form_row(form.content) }}

		<button type="submit" class="btn btn-primary">
			<i class="bi bi-save"></i>
			Publier l'article
		</button>
		{{ form_end(form) }}
	</div>
	<div class="mt-4">
		<a href="{{ path('app_blog_index') }}" class="btn btn-secondary">
			Retour
		</a>
	</div>
{% endblock %}
