{% extends 'base.html.twig' %}

{% block title %}Nouvelle discussion
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<h1 class="mb-4">Créer une nouvelle discussion</h1>

		<div class="card">
			<div class="card-body">
				{{ form_start(form) }}
				{{ form_row(form.title) }}
				{{ form_row(form.category) }}
				{{ form_row(form.content, {
                    attr: {
                        'data-controller': 'textarea-autogrow'
                    }
                }) }}

				<div class="mt-4">
					<button type="submit" class="btn btn-primary">
						<i class="bi bi-save"></i>
						Publier la discussion
					</button>
					<a href="{{ path('app_forum_index') }}" class="btn btn-outline-secondary">
						Annuler
					</a>
				</div>
				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}
